Dictionary for Clean Age and Gender

In [1]:
import pandas as pd

In [2]:
# Gender Dictionary: column names, data types and non-null count
df_Gender = pd.read_csv('df_Gender_cleaned.csv')
df_Gender

Gender_data_dict = pd.DataFrame({
    "Column Name": df_Gender.columns,
    "Data Type": df_Gender.dtypes.astype(str),
    "Non-Null Count": df_Gender.notnull().sum()
})

Gender_data_dict

,Column Name,Data Type,Non-Null Count
YEAR,YEAR,int64,8976
GENDER BOROUGH,GENDER BOROUGH,object,6048
NEIGHBORHOOD,NEIGHBORHOOD,object,8976
SEX,SEX,object,8976
RACE BY GENDER,RACE BY GENDER,object,8976
GENDER TOTAL NUMBER OF HIV DIAGNOSES,GENDER TOTAL NUMBER OF HIV DIAGNOSES,float64,8960
"GENDER HIV DIAGNOSES PER 100,000 POPULATION","GENDER HIV DIAGNOSES PER 100,000 POPULATION",float64,8892
GENDER TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,GENDER TOTAL NUMBER OF CONCURRENT HIV/AIDS DIA...,float64,8972
GENDER PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,GENDER PROPORTION OF CONCURRENT HIV/AIDS DIAGN...,float64,7081
GENDER TOTAL NUMBER OF AIDS DIAGNOSES,GENDER TOTAL NUMBER OF AIDS DIAGNOSES,float64,8963
"GENDER AIDS DIAGNOSES PER 100,000 POPULATION","GENDER AIDS DIAGNOSES PER 100,000 POPULATION",float64,8895

In [3]:
# Age Dictionary: column names, data types and non-null count
df_Age = pd.read_csv('df_Age_cleaned.csv')
df_Age

Age_data_dict = pd.DataFrame({
    "Column Name": df_Age.columns,
    "Data Type": df_Age.dtypes.astype(str),
    "Non-Null Count": df_Age.notnull().sum()
})

Age_data_dict

,Column Name,Data Type,Non-Null Count
YEAR,YEAR,int64,8976
NEIGHBORHOOD,NEIGHBORHOOD,object,8976
RACE BY AGE,RACE BY AGE,object,8976
AGE,AGE,object,8976
AGE TOTAL NUMBER OF HIV DIAGNOSES,AGE TOTAL NUMBER OF HIV DIAGNOSES,float64,8857
"AGE HIV DIAGNOSES PER 100,000 POPULATION","AGE HIV DIAGNOSES PER 100,000 POPULATION",float64,7481
AGE TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,AGE TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,float64,8941
AGE PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,AGE PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSE...,float64,7435
AGE TOTAL NUMBER OF AIDS DIAGNOSES,AGE TOTAL NUMBER OF AIDS DIAGNOSES,float64,8896
"AGE AIDS DIAGNOSES PER 100,000 POPULATION","AGE AIDS DIAGNOSES PER 100,000 POPULATION",float64,7520
AGE BOROUGH,AGE BOROUGH,object,372