# HIV Infections in New York City

This analyzes the patterns and disparities of HIV infections in New York City. The aim is to find out how race/ethnicity, age group, gender and neighborhood influence the rate of HIV AIDS contamination.

In [193]:
#Importing needed libraries
import pandas as pd
from pathlib import Path
import sqlite3
import re

Dataset reading and dataframe called df_Gender created

In [194]:
df_Gender = pd.read_csv('Dataset/HIV_AIDS_by_Gender_by_Neighborhood_and_Race_Ethnicity.csv')
df_Gender

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,Greenpoint,Male,Black,6,330.4,0,0,5,275.3
1,2011,NaN,Stapleton - St. George,Female,Native American,0,0,0,0,0,0
2,2010,NaN,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
3,2012,NaN,Upper Westside,Female,Unknown,0,0,0,0,0,0
4,2013,NaN,Willowbrook,Male,Unknown,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8971,2021,Staten\nIsland,Willowbrook,Male,Asian/Pacific\nIslander,2,24.2,0,0,0,0
8972,2021,Staten\nIsland,Willowbrook,Male,Black,0,0,0,NaN,0,0
8973,2021,Staten\nIsland,Willowbrook,Male,Latino/Hispanic,1,18.2,0,0,0,0
8974,2021,Staten\nIsland,Willowbrook,Male,Other/Unknown,0,0,0,NaN,1,153
8975,2021,Staten\nIsland,Willowbrook,Male,White,0,0,0,NaN,3,12.8

Dataset reading and dataframe called df_Age created

In [195]:
df_Age = pd.read_csv('Dataset/HIV_AIDS_by_Age_Group_by_Neighborhood_and_Race_Ethnicity.csv')
df_Age

,YEAR,NEIGHBORHOOD,RACE/ETHNICITY,AGE,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION",Borough
0,2013,High Bridge - Morrisania,Native American,30 - 39,0,0,0,0,0,0,NaN
1,2010,East Harlem,Unknown,40 - 49,0,NaN,0,NaN,0,NaN,NaN
2,2011,High Bridge - Morrisania,Unknown,40 - 49,0,NaN,0,NaN,0,NaN,NaN
3,2012,Greenwich Village - SoHo,Native American,50 - 59,0,0,0,0,0,0,NaN
4,2011,Long Island City - Astoria,Multiracial,20 - 29,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21031,2021,Willowbrook,Black,60+,0,0,0,NaN,0,0,Staten\nIsland
21032,2021,Willowbrook,Latino/Hispanic,60+,0,0,0,NaN,0,0,Staten\nIsland
21033,2021,Willowbrook,Other/Unknown,60+,0,0,0,NaN,NaN,NaN,Staten\nIsland
21034,2021,Willowbrook,White,60+,0,0,0,NaN,1,5.6,Staten\nIsland
21035,2021,Willowbrook,All,All,4,4.9,0,0,4,4.9,Staten\nIsland

Quick check on the data type we are working with and engaging in data cleaning

In [196]:
# Checking the number of rows & columns in Gender dataset
df_Gender.shape

(8976, 11)

In [197]:
# Checking the number of rows & columns in Age dataset
df_Age.shape

(21036, 11)

In [198]:
#Slicing the number of rows in Age to match Gender
df_Age = df_Age.head(8976).copy()
df_Age.shape

(8976, 11)

In [199]:
# Checking unique values in Age before joining the datasets
pd.unique(df_Age["NEIGHBORHOOD"])

array(['High Bridge - Morrisania', 'East Harlem',
       'Greenwich Village - SoHo', 'Long Island City - Astoria',
       'Upper Eastside', 'West Queens', 'Chelsea - Clinton',
       'Southeast Queens', 'Unknown', 'East New York',
       'East Flatbush - Flatbush', 'Greenpoint', 'Canarsie - Flatlands',
       'Port Richmond', 'Central Harlem - Morningside Heights',
       'Hunts Point - Mott Haven', 'Williamsburg - Bushwick', 'Jamaica',
       'Lower Manhattan', 'Pelham - Throgs Neck', 'Crotona - Tremont',
       'Fordham - Bronx Park', 'Ridgewood - Forest Hills',
       'Downtown - Heights - Park Slope', 'Kingsbridge - Riverdale',
       'Flushing - Clearview', 'Washington Heights - Inwood',
       'Stapleton - St. George', 'Willowbrook',
       'Union Square - Lower Eastside', 'Borough Park',
       'South Beach - Tottenville', 'Fresh Meadows',
       'Bayside - Little Neck', 'Sunset Park', 'Southwest Queens',
       'Upper Westside', 'Coney Island - Sheepshead Bay', 'Rockaway',
       'Gramercy Park - Murray Hill', 'Bensonhurst - Bay Ridge',
       'Bedford Stuyvesant - Crown Heights', 'Northeast Bronx', 'All',
       'Bedford Stuyvesant -\nCrown Heights'], dtype=object)

In [200]:
# Checking unique values in Gender before joining the datasets
pd.unique(df_Gender["Neighborhood (U.H.F)"])

array(['Greenpoint', 'Stapleton - St. George', 'Southeast Queens',
       'Upper Westside', 'Willowbrook', 'East Flatbush - Flatbush',
       'Southwest Queens', 'Fordham - Bronx Park', 'Flushing - Clearview',
       'Chelsea - Clinton', 'Coney Island - Sheepshead Bay', 'Unknown',
       'Gramercy Park - Murray Hill', 'Crotona - Tremont', 'Jamaica',
       'South Beach - Tottenville', 'Union Square - Lower Eastside',
       'Borough Park', 'Port Richmond', 'Greenwich Village - SoHo',
       'East New York', 'Downtown - Heights - Park Slope',
       'Pelham - Throgs Neck', 'Sunset Park',
       'Central Harlem - Morningside Heights', 'West Queens',
       'Bedford Stuyvesant - Crown Heights', 'Fresh Meadows',
       'Bayside - Little Neck', 'High Bridge - Morrisania',
       'Bensonhurst - Bay Ridge', 'Washington Heights - Inwood',
       'Upper Eastside', 'Hunts Point - Mott Haven',
       'Kingsbridge - Riverdale', 'Northeast Bronx',
       'Canarsie - Flatlands', 'East Harlem', 'Lower Manhattan',
       'Ridgewood - Forest Hills', 'Williamsburg - Bushwick', 'Rockaway',
       'Long Island City - Astoria', 'All', 'Fordham - Bronx\nPark',
       'High Bridge -\nMorrisania', 'Hunts Point - Mott\nHaven',
       'Kingsbridge -\nRiverdale', 'Pelham - Throgs\nNeck',
       'Bedford Stuyvesant -\nCrown Heights', 'Bensonhurst - Bay\nRidge',
       'Coney Island -\nSheepshead Bay',
       'Downtown - Heights -\nPark Slope', 'East Flatbush -\nFlatbush',
       'Williamsburg -\nBushwick',
       'Central Harlem -\nMorningside Heights',
       'Gramercy Park -\nMurray Hill', 'Greenwich Village -\nSoho',
       'Union Square -\nLower East Side', 'Upper East Side',
       'Upper West Side', 'Washington Heights -\nInwood',
       'Long Island City -\nAstoria', 'Ridgewood - Forest\nHills',
       'South Beach -\nTottenville', 'Stapleton - St.\nGeorge'],
      dtype=object)

In [201]:
df_Age.dtypes

YEAR                                                                    int64
NEIGHBORHOOD                                                           object
RACE/ETHNICITY                                                         object
AGE                                                                    object
TOTAL NUMBER OF HIV DIAGNOSES                                          object
HIV DIAGNOSES PER 100,000 POPULATION                                   object
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          object
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    object
TOTAL NUMBER OF AIDS DIAGNOSES                                         object
AIDS DIAGNOSES PER 100,000 POPULATION                                  object
Borough                                                                object
dtype: object

In [202]:
df_Gender.dtypes

YEAR                                                                    int64
Borough                                                                object
Neighborhood (U.H.F)                                                   object
SEX                                                                    object
RACE/ETHNICITY                                                         object
TOTAL NUMBER OF HIV DIAGNOSES                                          object
HIV DIAGNOSES PER 100,000 POPULATION                                   object
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          object
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    object
TOTAL NUMBER OF AIDS DIAGNOSES                                         object
AIDS DIAGNOSES PER 100,000 POPULATION                                  object
dtype: object

Cleaning continues; Handling commas, blank spaces and converting some columns from Text to Numbers in both Age & Gender datasets.

In [203]:
#Renaming some Columns to well distinguish Age and Gender data after joining both datasets
#Renaming in Gender
df_Gender.rename(columns={"Neighborhood (U.H.F)": "NEIGHBORHOOD" ,
                          "RACE/ETHNICITY": "RACE BY GENDER", 
                          "Borough": "GENDER BOROUGH",
                          "TOTAL NUMBER OF HIV DIAGNOSES": "GENDER TOTAL NUMBER OF HIV DIAGNOSES", 
                          "HIV DIAGNOSES PER 100,000 POPULATION": "GENDER HIV DIAGNOSES PER 100,000 POPULATION", 
                          "TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES": "GENDER TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES", 
                          "TOTAL NUMBER OF AIDS DIAGNOSES":"GENDER TOTAL NUMBER OF AIDS DIAGNOSES", 
                          "AIDS DIAGNOSES PER 100,000 POPULATION": "GENDER AIDS DIAGNOSES PER 100,000 POPULATION",
                          "PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES": "GENDER PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES"
                          }, inplace=True)


#Renaming in Age
df_Age.rename(columns={"RACE/ETHNICITY": "RACE BY AGE",
                       "Borough": "AGE BOROUGH",
                       "TOTAL NUMBER OF HIV DIAGNOSES":"AGE TOTAL NUMBER OF HIV DIAGNOSES",
                       "HIV DIAGNOSES PER 100,000 POPULATION": "AGE HIV DIAGNOSES PER 100,000 POPULATION",
                       "TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES": "AGE TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES",
                       "TOTAL NUMBER OF AIDS DIAGNOSES":"AGE TOTAL NUMBER OF AIDS DIAGNOSES",
                       "AIDS DIAGNOSES PER 100,000 POPULATION": "AGE AIDS DIAGNOSES PER 100,000 POPULATION",
                       "PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES": "AGE PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES"
                       }, inplace=True)

In [204]:
# Converting the grouped by Age dataset columns to numeric, handling errors and strings with commas

columns_to_convert = [
    'AGE TOTAL NUMBER OF HIV DIAGNOSES',
    'AGE HIV DIAGNOSES PER 100,000 POPULATION',
    'AGE TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES',
    'AGE PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES',
    'AGE TOTAL NUMBER OF AIDS DIAGNOSES',
    'AGE AIDS DIAGNOSES PER 100,000 POPULATION'
]

for col in columns_to_convert:
    df_Age[col] = pd.to_numeric(df_Age[col].astype(str).str.replace(",", "").str.strip(), errors='coerce')

print(df_Age[columns_to_convert].dtypes)

AGE TOTAL NUMBER OF HIV DIAGNOSES                                          float64
AGE HIV DIAGNOSES PER 100,000 POPULATION                                   float64
AGE TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          float64
AGE PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    float64
AGE TOTAL NUMBER OF AIDS DIAGNOSES                                         float64
AGE AIDS DIAGNOSES PER 100,000 POPULATION                                  float64
dtype: object

In [205]:
# Converting the grouped by Gender dataset columns to numeric, handling errors and strings with commas

columns_to_convert = [
    'GENDER TOTAL NUMBER OF HIV DIAGNOSES',
    'GENDER HIV DIAGNOSES PER 100,000 POPULATION',
    'GENDER TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES',
    'GENDER PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES',
    'GENDER TOTAL NUMBER OF AIDS DIAGNOSES',
    'GENDER AIDS DIAGNOSES PER 100,000 POPULATION'
]

for col in columns_to_convert:
    df_Gender[col] = pd.to_numeric(df_Gender[col].astype(str).str.replace(",", "").str.strip(), errors='coerce')

print(df_Gender[columns_to_convert].dtypes)

GENDER TOTAL NUMBER OF HIV DIAGNOSES                                          float64
GENDER HIV DIAGNOSES PER 100,000 POPULATION                                   float64
GENDER TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          float64
GENDER PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    float64
GENDER TOTAL NUMBER OF AIDS DIAGNOSES                                         float64
GENDER AIDS DIAGNOSES PER 100,000 POPULATION                                  float64
dtype: object

Previewing Age & Gender data to check further what need to be cleaned

In [206]:
#Age preview

pd.set_option('display.max_rows', 50)     # Show up to 100 rows
pd.set_option('display.max_columns', 11)   # Show up to 11 columns
df_Age.head()

,YEAR,NEIGHBORHOOD,RACE BY AGE,AGE,AGE TOTAL NUMBER OF HIV DIAGNOSES,"AGE HIV DIAGNOSES PER 100,000 POPULATION",AGE TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,AGE PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,AGE TOTAL NUMBER OF AIDS DIAGNOSES,"AGE AIDS DIAGNOSES PER 100,000 POPULATION",AGE BOROUGH
0,2013,High Bridge - Morrisania,Native American,30 - 39,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2010,East Harlem,Unknown,40 - 49,0.0,NaN,0.0,NaN,0.0,NaN,NaN
2,2011,High Bridge - Morrisania,Unknown,40 - 49,0.0,NaN,0.0,NaN,0.0,NaN,NaN
3,2012,Greenwich Village - SoHo,Native American,50 - 59,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2011,Long Island City - Astoria,Multiracial,20 - 29,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [207]:
#Gender preview

pd.set_option('display.max_rows', 50)     # Show up to 100 rows
pd.set_option('display.max_columns', 11)   # Show up to 11 columns
df_Gender.head()

,YEAR,GENDER BOROUGH,NEIGHBORHOOD,SEX,RACE BY GENDER,GENDER TOTAL NUMBER OF HIV DIAGNOSES,"GENDER HIV DIAGNOSES PER 100,000 POPULATION",GENDER TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,GENDER PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,GENDER TOTAL NUMBER OF AIDS DIAGNOSES,"GENDER AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,Greenpoint,Male,Black,6.0,330.4,0.0,0.0,5.0,275.3
1,2011,NaN,Stapleton - St. George,Female,Native American,0.0,0.0,0.0,0.0,0.0,0.0
2,2010,NaN,Southeast Queens,Male,All,23.0,25.4,5.0,21.7,14.0,15.4
3,2012,NaN,Upper Westside,Female,Unknown,0.0,0.0,0.0,0.0,0.0,0.0
4,2013,NaN,Willowbrook,Male,Unknown,0.0,0.0,0.0,0.0,0.0,0.0

Neighborhood Column standardised, data sorted in ascendng order

In [208]:
#Function definition allowing the application of the standardised neighborhood values to Age

def clean_text_column(text):
    if isinstance(text, str):
        # Replace \n, \r, -, /, \, multiple spaces with a single space
        cleaned = re.sub(r"[\\/\n\r\-]+", " ", text)
        cleaned = re.sub(r"\s+", " ", cleaned)  # Collapse multiple spaces
        return cleaned.strip().lower()
    return text

In [209]:
#Age standardised, sorted and created "NEIAHBORHOOD_CLEAN" column has been deleted

for col in ['NEIGHBORHOOD', 'RACE BY AGE', 'AGE BOROUGH']:
    df_Age[col] = df_Age[col].apply(clean_text_column)
df_Age = df_Age.sort_values(by="NEIGHBORHOOD", ascending=True)
df_Age.drop(columns=["NEIGHBORHOOD_CLEAN"], inplace=True, errors='ignore')
df_Age['AGE'] = df_Age['AGE'].str.replace('\n', ' ', regex=True).str.strip()


df_Age.head(10)  # Top 10 rows

,YEAR,NEIGHBORHOOD,RACE BY AGE,AGE,AGE TOTAL NUMBER OF HIV DIAGNOSES,"AGE HIV DIAGNOSES PER 100,000 POPULATION",AGE TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,AGE PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,AGE TOTAL NUMBER OF AIDS DIAGNOSES,"AGE AIDS DIAGNOSES PER 100,000 POPULATION",AGE BOROUGH
8637,2016,all,latino hispanic,60+,39.0,10.6,13.0,33.3,51.0,13.9,all
8624,2016,all,black,40 - 49,157.0,64.9,51.0,32.5,167.0,69.0,all
8625,2016,all,latino hispanic,40 - 49,127.0,39.6,36.0,28.3,117.0,36.5,all
8626,2016,all,other unknown,40 - 49,2.0,11.5,0.0,0.0,5.0,28.9,all
8627,2016,all,white,40 - 49,61.0,18.4,14.0,23.0,47.0,14.1,all
8628,2016,all,all,50 - 59,255.0,23.8,49.0,19.2,282.0,26.3,all
8629,2016,all,asian pacific islander,50 - 59,18.0,10.8,5.0,27.8,10.0,6.0,all
8630,2016,all,black,50 - 59,128.0,47.0,26.0,20.3,134.0,49.2,all
8631,2016,all,latino hispanic,50 - 59,74.0,25.9,10.0,13.5,85.0,29.7,all
8632,2016,all,other unknown,50 - 59,1.0,6.3,1.0,100.0,2.0,12.7,all

In [210]:
#Gender standardised, sorted and created "NEIAHBORHOOD_CLEAN" column has been deleted
for col in ['NEIGHBORHOOD', 'RACE BY GENDER', 'GENDER BOROUGH']:
    df_Gender[col] = df_Gender[col].apply(clean_text_column)
df_Gender = df_Gender.sort_values(by="NEIGHBORHOOD", ascending=True)
df_Gender.drop(columns=["NEIGHBORHOOD_CLEAN"], inplace=True , errors='ignore')

df_Gender.head(10)  # Top 10 rows

,YEAR,GENDER BOROUGH,NEIGHBORHOOD,SEX,RACE BY GENDER,GENDER TOTAL NUMBER OF HIV DIAGNOSES,"GENDER HIV DIAGNOSES PER 100,000 POPULATION",GENDER TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,GENDER PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,GENDER TOTAL NUMBER OF AIDS DIAGNOSES,"GENDER AIDS DIAGNOSES PER 100,000 POPULATION"
6295,2019,staten island,all,All,all,31.0,7.7,4.0,12.9,16.0,4.0
3798,2017,all,all,Female,all,370.0,9.8,73.0,19.7,323.0,8.6
3797,2017,all,all,All,white,299.0,12.6,42.0,14.0,170.0,7.2
3796,2017,all,all,All,other unknown,26.0,21.7,7.0,26.9,13.0,10.9
3795,2017,all,all,All,latino hispanic,755.0,37.8,117.0,15.5,409.0,20.5
3794,2017,all,all,All,black,873.0,55.0,162.0,18.6,623.0,39.3
3793,2017,all,all,All,asian pacific islander,120.0,11.3,27.0,22.5,65.0,6.1
3792,2017,all,all,All,all,2073.0,29.1,355.0,17.1,1280.0,17.9
7248,2020,all,all,All,all,1429.0,19.2,269.0,18.8,944.0,12.7
7249,2020,all,all,All,asian pacific islander,64.0,5.7,14.0,21.9,32.0,2.8

Gender and Age clean data saved to csv

In [211]:
df_Age.to_csv("df_Age_cleaned.csv", index=False)
df_Gender.to_csv("df_Gender_cleaned.csv", index=False)

Creating data smaller sample for both Age and Gender that can be preview in Github

In [212]:
#Age smaller data sample for GitHub display
df_Age_sample = df_Age.head(1000)
df_Age_sample.to_csv("df_Age_Sample.csv", index=False)

#Gender smaller data sample for GitHub display
df_Gender_sample = df_Gender.head(1000)
df_Gender_sample.to_csv("df_Gender_Sample.csv", index=False)

Now joining both Gender & Age data in SQLite on Neighborhood

In [213]:
# Saving both Age & Gender Datasets into SQLite
conn = sqlite3.connect("nyc_hiv_data.db")
df_Age.to_sql("age_data", conn, if_exists="replace", index=False)
df_Gender.to_sql("gender_data", conn, if_exists="replace", index=False)

# Joining Age & Gender on NEIGHBORHOOD
query = """
SELECT 
    Age."NEIGHBORHOOD" AS Neighborhood,
    Age."AGE" AS Age,
    Age."AGE TOTAL NUMBER OF HIV DIAGNOSES" AS Total_HIV_Diagnoses_by_Age,
    Age."AGE HIV DIAGNOSES PER 100,000 POPULATION" AS HIV_Diagnoses_Per_100k_Polulation_by_Age,
    Age."AGE TOTAL NUMBER OF AIDS DIAGNOSES" AS Total_AIDS_Diagnoses_by_Age,
    Gender."GENDER HIV DIAGNOSES PER 100,000 POPULATION" AS HIV_Diagnoses_Per_100k_Polulation_by_Gender,
    Age."AGE TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES" AS Total_Concurrent_HIV_AIDS_Diagnoses_by_Age,
    Gender."RACE BY GENDER" AS Gender,
    Gender."GENDER TOTAL NUMBER OF HIV DIAGNOSES" AS Total_HIV_Diagnoses_by_Gender,
    Gender."GENDER HIV DIAGNOSES PER 100,000 POPULATION" AS HIV_Diagnoses_Per_100k_Polulation_by_Gender,
    Gender."GENDER TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES" AS Total_Concurrent_HIV_AIDS_Diagnoses_by_Gender,
    Gender."GENDER TOTAL NUMBER OF AIDS DIAGNOSES" AS Total_Aids_Diagnoses_by_Gender,
    Gender."GENDER AIDS DIAGNOSES PER 100,000 POPULATION" AS AIDS_Diagnoses_Per_100k_Polulation_by_Gender 
FROM age_data AS Age
JOIN gender_data AS Gender
    ON Age."NEIGHBORHOOD" = Gender."NEIGHBORHOOD"
"""
Age_Gender_df = pd.read_sql_query(query, conn)

Age_Gender_df.head()

,Neighborhood,Age,Total_HIV_Diagnoses_by_Age,HIV_Diagnoses_Per_100k_Polulation_by_Age,Total_AIDS_Diagnoses_by_Age,...,Total_HIV_Diagnoses_by_Gender,HIV_Diagnoses_Per_100k_Polulation_by_Gender,Total_Concurrent_HIV_AIDS_Diagnoses_by_Gender,Total_Aids_Diagnoses_by_Gender,AIDS_Diagnoses_Per_100k_Polulation_by_Gender
0,all,60+,39.0,10.6,51.0,...,4.0,1.9,0.0,0.0,0.0
1,all,60+,39.0,10.6,51.0,...,5.0,2.3,0.0,1.0,0.5
2,all,60+,39.0,10.6,51.0,...,6.0,2.9,0.0,7.0,3.3
3,all,60+,39.0,10.6,51.0,...,9.0,4.3,3.0,6.0,2.9
4,all,60+,39.0,10.6,51.0,...,10.0,4.8,1.0,7.0,3.3

In [217]:
#Dropping duplicated rows
Age_Gender_df = Age_Gender_df.drop_duplicates(keep='first')

Creating two new columns in Age_Gender to calculate the average of HIV diagnoses by Gender and by Age

In [215]:
Age_Gender_df = pd.read_csv('Age_Gender_Joined.csv')
Age_Gender_df['Average_HIV_Diagnoses'] = Age_Gender_df[
    ['Total_HIV_Diagnoses_by_Gender', 'Total_HIV_Diagnoses_by_Age']
].mean(axis=1).round(1)

# Calculating average
average_by_gender = Age_Gender_df['Total_HIV_Diagnoses_by_Gender'].mean().round(1)
average_by_age = Age_Gender_df['Total_HIV_Diagnoses_by_Age'].mean().round(1)

# Adding two new columns
Age_Gender_df['Diagnoses_Average_by_Gender'] = average_by_gender
Age_Gender_df['Diagnoses_Average_by_Age'] = average_by_age

#Saving to csv
Age_Gender_df.to_csv("Age_Gender_Joined.csv", index=False)

Create a smaller Age_Gender_Joined_sample file showing the first 1000 rows

In [216]:
Age_Gender_Joined_sample = Age_Gender_df.head(1000)
Age_Gender_Joined_sample.to_csv("Age_Gender_Joined_Sample.csv", index=False)